.brand-main-div{
    text-align: center;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.brand-main-div > h1{
    position: relative;
}

.brand-main-div > h1::before{
    content: "";
    width: 100px;
    height: 5px;
    background-color: #8e55d3;
    position: absolute;
    bottom: -15px;
    left: 35%;
    z-index: 20;
}

.brand-main-div > h1::after{
    content: "";
    width: 18vw;
    height: 5px;
    background-color: grey;
    position: absolute;
    bottom: -15px;
    left: 8%;
    opacity: 0.2;
}