.header-div{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 5vh;
    padding: 0.3rem 0.5rem 0.1rem 3rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    background:black;
    color: white;
}

.header-div > p {
    letter-spacing: 0.2ch;
    padding-top: 1rem;
    margin-bottom: 1rem;
    font-weight: bold;
}