.arrival-main-div {
    width: 90%;
    height: fit-content;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
}

.arrival-main-div>h1 {
    text-align: center;
    font-weight: bold;
}

.arrival-div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 1rem;
}

.arrival-item-div {
    max-width: 25vw;
    padding: 1rem;
    outline: 1px solid lightgray;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.arrival-item-div > h5 {
    line-height:2rem;
    font-weight: 600;
}

.arrival-item-image{
    width: 100%;
    height: 35vh;
    margin-bottom: 1rem;
}

.arrival-item-footer {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    font-weight: bold;
    margin-top: 1rem;
}

.arrival-item-footer>button {
    padding: 0.4rem 0.2rem;
    color: black;
    background-color: white;
    outline: 1px solid lightgray;
    min-width: 8rem;
    text-transform: uppercase;
    letter-spacing: 0.3ch;
    font-size: small;
    border-radius: 5%;
}

.arrival-item-footer>button:hover {
    background-color: black;
    color: white;
}

@media screen and (max-width:968px) {
    .arrival-item-div > h5{
        font-size: smaller;
    }

    .arrival-item-footer > p {
        font-size: smaller;
    }

    .arrival-item-footer > button {
        padding: 0.2rem 0.1rem;
        font-size:smaller;
    }
}

@media screen and (max-width:900px) {

    .arrival-item-footer > button {
        padding: 0.1rem 0.05rem;
        font-size:x-small;
        min-width: 6rem;
    }
}

@media screen and (max-width:812px) {

    .arrival-item-footer > button {
        padding: 0.05rem 0.25rem;
        font-size:x-small;
        min-width: 4rem;
    }
}

@media screen and (max-width:640px) {

    .arrival-item-footer > button {
        padding: 0.12rem;
        font-size:xx-small;
        min-width: 2rem;
    }
}