.panel{
    padding: 0;
    margin: 5vh 5vw;
}

.size-guide-table{
    border-collapse: collapse;
    border-spacing: 0;
    width: 80%;
}

.size-guide-table tr th, .size-guide-table tr td {
    padding: 6px;
    text-align: center;
    font-size: 14px;
    border: 1px solid #794c3c;
    vertical-align: middle;
}

.w15{
    width: 15%;
}

.w20, .w25{
    width: 20%;
}

.t-left{
    text-align: left;
}

.m30{
    margin-top: 30px;
}